
<div class="cards">
<table *ngIf="Card1">
  
    <tr *ngFor="let i of rowIndexArray">
      
      <td *ngIf="Card1[3*i]">
        <mat-card class="mat-elevation-z4 center margin-left margin-right margin-top"><!--style.css-->
          <div class="imagebox ">
            <div class="center">
            <img  [src]="Card1[3*i].image" class="img-fluid border ">
          </div>
          <mat-card-content class="padding-top"><span class="imagebox-desc card-title">{{Card1[3*i].desc}}</span></mat-card-content>
          <a class="btn btn-primary" href="{{Card1[3*i].url}}" target="_blank">Donate Now</a>
        </div>
      </mat-card>
      </td>
    
    
      <td *ngIf="Card1[3*i+1]">
        <mat-card class="mat-elevation-z4 center margin-left margin-right margin-top">
        <div class="imagebox">
          <div class="center">
          <img  [src]="Card1[3*i+1].image" class="img-fluid border">
         </div>

        <mat-card-content class="padding-top">
          <span class="padding-top">{{Card1[3*i+1].desc}}
          </span>
        </mat-card-content>
         
        <a class="btn btn-primary" href="{{Card1[3*i+1].url}}"target="_blank">Donate Now</a>
        
        </div>
      </mat-card>
      </td>


      <td *ngIf="Card1[3*i+2]">
        <mat-card class="mat-elevation-z4 center margin-left margin-right margin-top">
        <div class="imagebox" >
          <div class="center">
            <img  [src]="Card1[3*i+2].image" class="img-fluid border"></div>
          <mat-card-content class="padding-top"><span class="imagebox-desc">{{Card1[3*i+2].desc}}</span></mat-card-content>
          <a  class="btn btn-primary"href="{{Card1[3*i+2].url}}"target="_blank">Donate Now</a>
        </div>
      </mat-card>
      </td>

      

    </tr>
  
  </table>

</div>





