

.login-container{
    position: relative;
    padding-right:15px;
    margin: 0;
}

.form-container{
    margin: auto;
    float: right;
    max-width: 450px;
    width: 543px;

    background-color: rgb(211, 208, 208);
    padding: 50px;
    border-radius: 15px;
    
}

.form-container mat-form-field{
    padding: 10px;
    width: 100%;
    
}

.carousel-inner{
    position: absolute;
    float: left;
}

img{
    width: 897px;
    height: 645px;
}

.width{
    float: right;
    width: 543px;
    margin: auto;
}

.margin-top{
    margin-top: 10%;
}